
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <input type="text" name="email" id="email" />
    <input type="text" name="pass" id="pass" />

    <input type="submit" class="btn btn-lg btn-success" id="auzio" value="LogIn" />
</div>
</body>
</html>
